HTTP date formatter to follow RFC 7231

The date sent by HTTP protocol implementations in the If-modified-since request header field should follow [sec. 7.1.1.1 of RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.1). In detail, the [RFC 1123 formatter](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#RFC_1123_DATE_TIME) used in [HttpHeaders#formatDate](https://github.com/DigitalPebble/storm-crawler/blob/54bb5934918ff0f8919d58372405cfb14d63ad93/core/src/main/java/com/digitalpebble/stormcrawler/protocol/HttpHeaders.java#L86) does not use obligatorily use two digits for the day of month:
```
Sunday, December 1, 2019, 01:16:13 GMT
```
should be
```
Sunday, December 01, 2019, 01:16:13 GMT
```
